.app{
  display: grid;
  height: 100%;
  grid-template-columns:1fr;
  grid-template-areas:
          "header"
          "main"
          "footer";
  grid-template-rows: auto 1fr auto;
  background-color: #e5e5e5;
}